/* Variables */
:root {
    --main-background-color: #F4F6F6;
    --main-text-color: #4ECECE;
}

/* Default */

html {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--main-background-color);
}

*, *:before, *:after {
    box-sizing: inherit;
}

p, h1, label {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-weight: bold;
}

.container--text-margin p {
    margin: 0;
}

.container--text-margin p:first-child {
    padding-top: 25px;
}

.container--text-margin p:last-child {
    padding-bottom: 25px;
}

.form--contact {
    max-width: 400px;
}

.form--checkout {
    width: 100%;
}

.form--item input, .form--item textarea {
    width: 100%;
}

.form--item textarea {
    resize: vertical;
    min-height: 1.6em;
    height: 10em;
}

.form--item {
    margin: 8px 0;
}

.form--button {
    margin-top: 16px;
}

/* Nav */

.logo--image, .flex--wrapper img, .front img {
    width: 100%;
    max-height: 257px;
    object-fit: cover;
}

header nav {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

header nav ul {
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
}

header nav ul li {
    align-self: center;
    margin: 0 25px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    border-bottom: 0;
}

header nav ul li p {
    transition: .2s;
    border-bottom: 2px solid var(--main-background-color);
    padding: 4px;
    font-weight: 700;
    color: var(--main-text-color);
}

header nav ul li svg {
    transition: .2s;
    fill: var(--main-text-color);
    border-bottom: 2px solid var(--main-background-color);
    padding: 4px 0;
    height: 29.2px;
    margin: 16px 0;
}

header nav ul li p:hover, header nav ul li svg:hover  {
    border-bottom: 2px solid var(--main-text-color);;
    color: var(--main-text-color);
}

#dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    background: var(--main-background-color);
    z-index: 1;
    box-shadow: 0px 0px 12px 0px rgba(78,206,206,1);
    border-radius: 20px;
    padding: 0;
}

.selectDropdown:hover #dropdown {
    display: block;
}

button {
    background-color: var(--main-text-color);
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    padding: 10px;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
}

/* Footer */

footer {
    margin-top: 50px;
    background-color: var(--main-text-color);
}

footer p {
    margin: 0;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.footer--small-note {
    font-size: 12px;
    font-weight: normal;
}

.footer--heart {
    color: red;
}

.flex--wrapper {
    display: flex;
    align-items: center;
}

.flex--wrapper p {
    margin: 0 25px;
}

.flex--wrapper button, .flex--wrapper:not('type="submit"') {
    margin: auto;
}

.flex--dir-right {
    flex-direction: row-reverse;
}

.block {
    display: block !important;
}

/* index.html */

.logo--wrapper {
    height: 100px;
    align-self: center;
}

.logo--wrapper a {
    height: inherit;
}

.logo--image {
    height: inherit;
    width: auto;
    margin-left: 50px;
}

.container--w2, .container--w3 {
    display: grid;
    min-height: 257px;
}

.container--w2__no-min-height {
    min-height: unset;
}

.container--w3__no-min-height {
    min-height: unset;
}

.container--w2__fit-content {
    height: fit-content;
}

.container--w3__fit-content {
    height: fit-content;
}

.container--w2 {
    grid-template-columns: repeat(2, 1fr);
}

.container--w3 {
    grid-template-columns: 1.5fr 1fr 1fr;
}

.container--p50 {
    margin: 0 50px;
}

.container--p100 {
    margin: 0 100px;
}

.front {
    position: relative;
    width: 100%;
    height: 257px;
    margin-bottom: 40px;
}

.front--button {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

/* over_ons.html */

.bike-showcase--container {
    height: 200px;

}

.header h1 {
    text-align: center;
    color: var(--main-background-color);
    font-size: 50px;
    background-color: var(--main-text-color);
    border-radius: 10px;
    padding: 10px;
}

.text-wrapper {
    margin: auto;
    width: 100%;
    position: relative;
    display: flex;
}

.text-wrapper--company-container {
    justify-content: space-between;
}

.text-wrapper--company-text {
    background: var(--main-text-color);
    width: calc(50% - 50px);
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-container {
    background: rgb(255, 255, 255);
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.flex-item {
    text-align: center;
    box-sizing: border-box;
    flex: 1 0 100px;
    height: 100%;
}

.flex-item:first-child img {
    border-radius: 10px 0 0 10px;
}

.flex-item:last-child img {
    border-radius: 0 10px 10px 0;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
/* contact.html */

.opening-schedule {
    display: inline-block;
}

/* assortiment.html */

.shop--item {
    position: relative;
    margin: auto;
    width: 100%;
    background-color: var(--main-text-color);
}

.shop--item-text {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: var(--main-text-color);
    color: var(--main-background-color);
    border-radius: 0 0 10px 10px;
}

.shop {
    display: block;
}

.shop--container {
    grid-gap: 20px;
    margin-bottom: 20px;
}

.shop--item-text__price {
    font-weight: bold;
    padding-top: 10px;
}

/* winkelwagen.html */

.checkout table {
    margin: auto;
}

.checkout table td img {
    border-radius: 10px;
}

.checkout table td img {
    border-radius: 10px;
}

.checkout table th:nth-child(1), .checkout table td:nth-child(1) {
    width: 400px;
}

.checkout table th:nth-child(n+2), .checkout table td:nth-child(n+2) {
    width: 150px;
}

.checkout table .accessoires--title {
    font-weight: bold;
}

.checkout table .accessoires--option {
    user-select: none;
}

.checkout table .info {
    margin: 16px;
}

.checkout table .number {
    text-align: center;
    width: 50px;
}

.checkout table .number input {
    width: 50px;
}

.checkout table .price {
    text-align: center;
}

button[type="submit"] {
    float: right;
}

/* Medewerkers.html */
.coworkers {
    background-color: var(--main-text-color);
    border-radius: 10px;
    text-align: center;
    position: relative;
}

/* JS form */

#contact-form {
    display: none;
}