<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <title>Homepage <%= pageTitle %></title>
    <link href="css/index.css" type="text/css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo--wrapper">
          <a href="index.html"
            ><img class="logo--image" src="images/logo.png"
          /></a>
        </div>
        <ul>
          <li>
            <a href="medewerkersdb"><p>Medewerkers</p></a>
          </li>
          <li>
            <a href="fietsen"><p>Fietsen</p></a>
          </li>
          <li>
            <a href="klanten"><p>Klanten</p></a>
          </li>
          <li>
            <a href="accessoires"><p>Accessoires</p></a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container--p50">
      <section class="front">
        <img src="images/jonny-kennaugh.jpg" />
      </section>
      <section class="container--w2">
        <div class="flex--wrapper">
          <p>
            Wij zijn een fiets verhuur bedrijf in de regio Haaglanden. In totaal
            hebben wij 5 vestigingen. Onze hoofdvestiging zit in Den-Haag
            daarnaast hebben we nog vestigingen in Zoetermeer, Rijswijk,
            Wassenaar en Scheveningen. In de regio staan wij bekend als hèt
            fietsverhuur bedrijf die zeer mooie en fijne modellen verhuurd aan
            toeristen vanuit de hele wereld in onze regio.
          </p>
        </div>
        <div class="flex--wrapper">
          <img src="images/fiets3_winkel.jpg" />
        </div>
      </section>
      <section class="container--w2">
        <div class="flex--wrapper">
          <img src="images/tower-electric-bikes.jpg" />
        </div>
        <div class="flex--wrapper">
          <p>
            Wij verhuren naast gewone fietsen ook elektrische fietsen met alle
            mogelijke opties!<br /><br />
            Bij alle fietsen zijn de accessoires los bij te huren. De
            accessoires kunt u de toevoegen aan een product wanneer deze in uw
            winkelwagen zit. Ga
            <a href="winkelwagen.html">hier naar uw winkelwagen</a>
          </p>
        </div>
      </section>
    </div>
    <footer class="container--text-margin">
      <p>Copyright &copy; 2020 - DBT Software</p>
      <p class="footer--small-note">
        Crafted with <span class="footer--heart">&#10084;</span> by Bas
      </p>
    </footer>
  </body>
</html>
