<% if(medewerkers.length) { %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Voornaam</th>
      <th scope="col">Achternaam</th>
      <th scope="col">Geslacht</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i< medewerkers.length; i++) { %>
    <tr>
      <th scope="row"><%= (i+1) %></th>
      <td><%= medewerkers[i].firstname %></td>
      <td><%= medewerkers[i].lastname %></td>
      <td><%= medewerkers[i].gender %></td>
    </tr>
    <% } %>
  </tbody>
</table>
